body {
  --text: #382b22;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0.5rem 2rem 0.5rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 50vw;
  min-height: 100vh;
}

#root {
  overflow-x: hidden;
  min-height: 100%;
}

.start-countdown {
  position: absolute;
  font-size: 5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-room:hover {
  cursor: pointer;
}

.create-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rooms-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.rooms-section > h2:first-child {
  width: 100%;
}

.rooms-section > .row {
  flex: 1;
}

.col-card {
  min-width: 200px;
}

.main > .row-home {
  min-height: 80vh;
}

@media only screen and (min-width: 768px) {
  .rooms-section {
    padding: 10px;
  }

  .main {
    padding: 3rem 2rem 0.5rem 2rem;
  }
}
