:root {
  --text: #382b22;
  --light-pink: #fff0f0;
  --pink: #ffe9e9;
  --dark-pink: #f9c4d2;
  --pink-border: #b18597;
  --pink-shadow: #ffe3e2;
  --darker-pink: #f75580;
}

@media (prefers-color-scheme: dark) {
  :root {
    --pink-shadow: #ffe3e217;
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.btn-click {
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: var(--light-pink);
  border: 2px solid var(--pink-border);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.btn-click::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.btn-click:hover {
  background: var(--pink);
  transform: translate(0, 0.25em);
}
button.btn-click:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
}
button.btn-click:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}
button.btn-click:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}
button.btn-click svg {
  height: 14px;
}
.form-name {
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 0.25em 1em;
  background: var(--light-pink);
  border: 2px solid var(--pink-border);
  border-radius: 0.75em;
}
.form-name:focus {
  outline: none !important;
}
.row-user {
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 0.25em 1em;
  background: var(--light-pink);
  border: 2px solid var(--pink-border);
  border-radius: 0.75em;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.row-user:focus {
  outline: none !important;
}
.row-user svg,
.card-room svg {
  height: 20px;
}

.local-row {
  background-color: var(--darker-pink);
  border-color: var(--light-pink);
  color: white;
}
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.card {
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 0.1em 0.25em;
  margin-bottom: 0.5em;
  background: var(--light-pink);
  border: 2px solid var(--pink-border);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.card:hover {
  background: var(--pink);
  transform: translate(0, 0.25em);
}
.card:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
}
.card:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}
.card:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

@media only screen and (max-width: 768px) {
  .opponents-container {
    max-height: 212px;
    overflow-y: auto;
  }
}

.visitor-container {
  animation: 0.2s ease;
}

@media screen and (min-width: 640px) {
  .opponents-container::-webkit-scrollbar-track {
    background: transparent;
  }

  .opponents-container::-webkit-scrollbar {
    width: 0.5em;
    position: absolute;
    background: transparent;
    overflow: overlay;
  }

  .opponents-container::-webkit-scrollbar-thumb {
    background: var(--dark-pink);
    border-radius: 0.5em;
  }
}
